<section class="vh-100 bg-image" style= "background-size: cover; background-image: url('https://t4.ftcdn.net/jpg/02/89/47/79/360_F_289477910_DTFjhnNR3fxhcOqvuRanrHgyh5cNmucq.jpg');">
<div class="container" >
  <br>
<h1 class=""><b >Add New Car Information</b></h1>


<div class="row">
  <div class="col-6">
    <form #form="ngForm" (ngSubmit)="Addcarinfo()"  >
      
  <div class="mb-3">
    <label for="carplate">Car Plate</label>
    <input type="text" class="form-control" id="carplate" name="carPlate" [(ngModel)]="AddCarInfo.carPlate" placeholder="Enter a Car Plate (7 or 8 long)">
    
  </div>
  <div class="mb-3">
    <label for="carowner">Car Owner</label>
    <input type="text" class="form-control" id="carowner" name="carOwner" [(ngModel)]="AddCarInfo.carOwner" placeholder="Enter name of the owner">
  </div>

  <div class="mb-3">
    <label for="typeofcar">Type of Car</label>
    <input type="text" class="form-control" id="typeofcar" name="typeofCar" [(ngModel)]="AddCarInfo.typeofCar" placeholder="Enter type of the car (disabled or normal)">
  </div>

  <div class="mb-3">
    <label for="dateofjoining">Date of Joining</label>
    <input type="text" class="form-control" id="dateofjoining" name="dateofJoining" [(ngModel)]="AddCarInfo.dateofJoining" placeholder="Enter Date">
  </div>

  <div class="mb-3">
    <label for="residencetime">Residence time</label>
    <input type="text" class="form-control" id="residencetime" name="residencetime" [(ngModel)]="AddCarInfo.residencetime" placeholder="Enter Time (short or long)">
  </div>

  <button type="submit" class="btn btn-primary" *ngIf="isAuthenticated">Save</button>
</form>
  </div>
</div>

</div>

  <div style="text-align: center; ">
    <p style="color: black;">© All rights reserved.</p>
</div>

</section>